---
import Layout from '../layouts/Layout.astro';
import FullScreenWrapper from '../components/wrappers/FullScreenWrapper.astro';
import NarrowWrapper from '../components/wrappers/NarrowWrapper.astro';
import FlexWrapper from '../components/wrappers/FlexWrapper.astro';
import OptionCardsWrapper from '../components/wrappers/OptionCardsWrapper.astro';
import OptionCard from '../components/OptionCard.astro';
import SeeMore from '../components/SeeMore.astro';
import { OptionId } from '../utils/optionCardUtils';

const gridTemplateRows = '4fr 1fr';
---

<Layout title="Million Digital - Host">
	<FullScreenWrapper>
		<NarrowWrapper>
			<FlexWrapper flexDirection="column" className="page__header">
				<h1>host<span class="full-stop">.</span></h1>
				<h3 class="page__heading">
					Hosting is simple when done the Million way. When you host with us, we
					handle everything for you.
				</h3>
				<p>This means:</p>
				<div class="checklist-container">
					<ul>
						<li><span class="text-highlight">✔</span>Fully managed</li>
						<li>
							<span class="text-highlight">✔</span>Pay only for what you need
							and use
						</li>
						<li>
							<span class="text-highlight">✔</span>No complicated interfaces or
							language
						</li>
						<li>
							<span class="text-highlight">✔</span>Help to set up your emails
							on all your devices
						</li>
						<li>
							<span class="text-highlight">✔</span>Environmentally conscious
						</li>
						<li>
							<span class="text-highlight">✔</span>Daily and weekly backups
						</li>
						<li><span class="text-highlight">✔</span>99.96% uptime</li>
					</ul>
				</div>
			</FlexWrapper>
		</NarrowWrapper>
		<SeeMore />
	</FullScreenWrapper>

	<FullScreenWrapper>
		<OptionCardsWrapper>
			<OptionCard
				title="Start up"
				subtitle="For small businesses"
				optionId={OptionId.HOST_START_UP}
				gridTemplateRows={gridTemplateRows}
			>
				<div slot="what-you-get">
					<ul>
						<li>Up to 10 email addresses synced across all your devices</li>
						<li>1 year free domain</li>
						<li>SSL certificate</li>
						<li>DDOS protection</li>
						<li>99.9% uptime guarantee</li>
						<li>Up to 5 subdomains</li>
						<li>Daily and weekly backups</li>
						<li>Managed Wordpress hosting</li>
						<li>Up to 2,000 users per month</li>
					</ul>
				</div>
				<div slot="what-you-pay">
					<p>From £19.99 per month</p>
				</div>
			</OptionCard>

			<OptionCard
				title="Scale up"
				subtitle="For growing businesses"
				optionId={OptionId.HOST_SCALE_UP}
				gridTemplateRows={gridTemplateRows}
			>
				<div slot="what-you-get">
					<ul>
						<li>Everything in start up</li>
						<li>Up to 100 email addresses synced across all your devices</li>
						<li>Up to 100 subdomains</li>
						<li>Custom server hosting</li>
					</ul>
				</div>
				<div slot="what-you-pay">
					<p>From £49.99 per month</p>
				</div>
			</OptionCard>

			<OptionCard
				title="Bespoke"
				subtitle="For something truly custom"
				optionId={OptionId.HOST_BESPOKE}
				description="For businesses that require something larger or more complex, get in touch to discuss your requirements."
				showWhatYouGet={false}
				showWhatYouPay={false}
				gridTemplateRows={gridTemplateRows}
			/>
		</OptionCardsWrapper>
	</FullScreenWrapper>
</Layout>

<style lang="scss">
	@import '../styles/main';
	.checklist-container {
		text-align: center;
		font-size: 1rem;
		margin-left: -2.5rem;

		@include xs-screen {
			font-size: 0.8rem;
		}

		.text-highlight {
			margin-right: 1rem;
		}

		ul {
			li {
				list-style-type: none;
				font-size: 1rem;

				@include xs-screen {
					font-size: 0.8rem;
				}
			}
		}
	}
</style>
