---
import type { OptionId } from '../utils/optionCardUtils';
import ActionButton from './ActionButton.astro';

interface Props {
	title: string;
	subtitle: string;
	description?: string;
	gridTemplateRows: string;
	buttonText?: string;
	optionId?: OptionId;
	contentHeight?: string;
	showWhatYouGet?: boolean;
	showWhatYouPay?: boolean;
	titleSize?: string;
}

const {
	title,
	subtitle,
	description,
	buttonText = 'Select',
	optionId,
	gridTemplateRows,
	showWhatYouGet = true,
	showWhatYouPay = true,
	titleSize = '3rem',
	contentHeight = '435px',
} = Astro.props;
---

<div class="card">
	<div class="card__header">
		<p class="card__header-title">{title}</p>
		<p class="card__header-subtitle">{subtitle}</p>
	</div>
	<div class="card__content">
		{
			description && (
				<div class="card__content-section">
					<div class="card__content-description">
						<p>{description}</p>
					</div>
				</div>
			)
		}
		{
			showWhatYouGet && (
				<div class="card__content-section">
					<div class="card__content-section-title">
						<p>What you get</p>
					</div>
					<div class="card__content-section-body">
						<slot name="what-you-get" />
					</div>
				</div>
			)
		}
		{
			showWhatYouPay && (
				<div class="card__content-section">
					<p class="card__content-section-title">What you pay</p>
					<div class="card__content-section-body">
						<slot name="what-you-pay" />
					</div>
				</div>
			)
		}
	</div>
	<ActionButton
		text={buttonText}
		href={`../contact?selected-option=${optionId}`}
		fullWidth
	/>
</div>

<style lang="scss" define:vars={{ gridTemplateRows, titleSize, contentHeight }}>
	@import '../styles/main';

	.card {
		width: 275px;

		&__header {
			margin-bottom: 1rem;
			&-title {
				font-size: var(--titleSize);
				font-weight: bold;
				color: $grey3;
				margin: 0;
			}

			&-subtitle {
				font-size: 1rem;
				font-weight: bold;
				color: $grey1;
			}
		}

		&__content {
			height: var(--contentHeight);
			display: grid;
			grid-template-rows: var(--gridTemplateRows);
			gap: 1rem;

			@include md-screen {
				height: initial;
				display: flex;
				flex-direction: column;
				gap: 2rem;
			}

			&-description {
				font-size: 0.9rem;
				color: $grey2;
			}

			&-section {
				&-title {
					font-size: 0.8rem;
					font-weight: bold;
					color: $grey1;
				}

				&-body {
					font-size: 0.9rem;
					color: $grey2;
				}
			}
		}
	}
</style>
